#textbox{
	float: right;
	margin-top: 40px;
	width: 50%;
}

.navbar-default .navbar-nav>li {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.navbar-default .navbar-nav>li>a {
    color: #000;
    font-weight: bold;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
	color: #fff;
	background-color: #a08a54;
}

.navbar{
	margin-bottom: 0;
	border-radius: 0;
	background-color: #e6c36e;
}

.carousel-indicators {
    bottom: 0px;
    left: 90%;
}

.userimg{
	float: left;
    margin-right: 10px;
}

.message::-webkit-scrollbar { 
    display: none; 
}

.internal{
 height: 100%;
 padding-left: 2px;
 padding-right: 2px;
 display: inline-block;
}

.center{
 float: left;
 overflow: hidden;
 /*will change this to hidden later to deny scolling to user*/
 white-space: nowrap;
}

#left-button,
#right-button,
#left-button-partner,
#right-button-partner{
	background-color: transparent;
	border: none;
	height: 110px;
	outline: none;
	color: #d5ccb4;
}

.phead
{
    background-color: #f4eede;
    border-left: 8px solid #e6c36e;
    font-size: 16px;
    line-height: 30px;
    padding-left: 14px;
}

#contentpartner>.internal
{
	width: 200px;
}

.newsbtn
{
	background-color: #f4eede;
	outline: none;
	border: 1px solid #e6c36e;
	color: #e6c36e;
}

.footer a
{
	color: #686767;
}